@model IEnumerable<AmbionNoScaffoldFullMVC.Models.Student>

@{
    ViewData["Title"] = "Home Page";

}

<a asp-controller="Students" asp-action="Index">Students</a>

<br />
<br />

<a asp-controller="Grades" asp-action="Index">Grades</a>

<br />
<br />

<a asp-controller="Ambions" asp-action="Index">Ambions</a>


